body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: rgb(12, 10, 32);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255,255,255);
}

.form{
    background-color: rgb(62, 58, 109);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, .3);
    opacity: .8;
    border-radius: 15px;
    margin: 6px;
} 

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    border: solid 5px green; 
    color: green;
}

.input::placeholder{
    color: lightgray;
}

.btn{
    background-color: green;
    color: aliceblue;
    border: none;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(255,255,255,.3);
    cursor: pointer;

}
.btn:hover{
    filter: brightness(0.9);
}

.score{
    color: green;
    text-align: left;
}